h1 {
	font-family: monospace;
	font-size: 60px;
	text-shadow: 0.1em 0.1em #fffd73;
}
body {
	font-family: monospace;

}
.lemonbg {
	cursor: url("cursor.cur"), url("cursor.cur"), pointer;
	background-image: url("bg.png")
}
li	{
	font-size: 30px;
}
h2 {
	font-size: 45px
}
h3 {
	font-size: 35px
}
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
}
a {
	font-size: 30px;
}
.button {
	text-decoration: none;
	background-color: #f0ff8f;
	color: #60a65b;
	border-radius: 10px;
}
.button:hover {
	text-decoration: none;
	background-color: #60a65b;
	color: #f0ff8f;
	border-radius: 10px;
}
